numpy
torch
transformers
langchain
langgraph
ipykernel
langsmith
langchain_community
pypdf
bs4
arxiv
langchain_text_splitters
huggingface_hub
evaluate
datasets
langchain-community
sentence_transformers
langchain_huggingface
chromadb
fastapi
uvicorn
langchain_groq
langserve[all]
typing_extensions
python-dotenv
langchain_openai
wikipedia
langgraph-cli[inmem]
sentencepiece
protobuf
evaluate
accelerate
peft
bitsandbytes
einops